.App {
    margin: 5px 30%;
    display: grid;
    grid-template-columns: 400px 250px;
    grid-template-rows: auto auto
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}